<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145019146976-8uvvkajlor0eir766klmtrd3dqu0eksd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145019146976-8uvvkajlor0eir766klmtrd3dqu0eksd</string>
	<key>API_KEY</key>
	<string>AIzaSyDAiBZGl4AXlP13gUdtWnyQMwEDChLUAxc</string>
	<key>GCM_SENDER_ID</key>
	<string>145019146976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jessica.com.HelloWorld</string>
	<key>PROJECT_ID</key>
	<string>hello-world-187ad</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-187ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145019146976:ios:1e9e67c279e3e8cd72f685</string>
</dict>
</plist>